<div class="mb-12">
  <div class="flex flex-col bg-clip-border rounded-xl bg-[#404040] text-gray-700 shadow-md">
    <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 shadow-blue-500/40 shadow-lg -mt-4 grid h-32 w-32 place-items-center">
      <img src={{accountService.account.accountImage}} alt="">
    </div>
    <a routerLink="/edit-profile">
      <button
        routerLinkActive=" "
        class="absolute right-12 text-white rounded-lg px-6 py-3 shadow-md">
        Editar
      </button>
    </a>
    <div class="p-4">
      <p class="block antialiased font-sans text-2xl leading-normal font-normal text-[#64abdb]">{{accountService.account.userName}}</p> 
    </div>
    <div class="border-t border-blue-gray-50 p-4">
      <p class="block antialiased font-sans text-base leading-relaxed font-normal text-white font-bold">Correo: <span class="text-gray-400">{{accountService.account.email}}</span></p> 
      <p class="block antialiased font-sans text-base leading-relaxed font-normal text-white font-bold">cuenta creada el : <span class="text-gray-400">{{accountService.account.date}}</span></p> 
    </div>
  </div>
</div>

    
