.main-container {
    display: flex;
    height: 100vh;
}  
  .encabezado {
    font-size: xx-large;
    font-weight: 500;
  }

  .feed {
    flex: 1;
    background-color: white;
    padding: 1.5rem;
  }
  
  .post-card {
    background-color: #eef5f9;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.424);
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .post-card p {
    margin: 0.5rem 0.5;
  }
  
  .post-card p:first-child {
    font-size: 0.875rem;
    font-weight: 500;
    color: #6b7280;
  }
  
  .post-card p:nth-child(even) {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .post-card p:last-child {
    font-size: 0.750rem;
  }