<!--<div class="mb-12">
    <div class="flex flex-col bg-clip-border rounded-xl bg-[#404040] text-gray-700 shadow-md">
      <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 shadow-blue-500/40 shadow-lg -mt-4 grid h-32 w-32 place-items-center">
        <img src={{accountService.account.accountImage}} alt="">
      </div>
      <div class="p-4">
        <label for="userName" class="block antialiased font-sans text-base leading-normal font-bold text-[#64abdb]">Nombre de usuario:</label>
        <input 
          id="userName"
          type="text" 
          placeholder="{{accountService.account.userName}}"
          class="w-full px-3 py-2 rounded-md bg-[#303030] text-white">
      </div>
      <div class="border-t border-blue-gray-50 p-4">
        <label for="email" class="block antialiased font-sans text-base leading-normal font-bold text-white">Correo:</label>
        <input 
          id="email"
          type="email" 
          placeholder="{{accountService.account.email}}" 
          class="w-full px-3 py-2 rounded-md bg-[#303030] text-gray-400">

        <p class="block antialiased font-sans text-base leading-relaxed font-normal text-white font-bold mt-4">Cuenta creada el: 
          <span class="text-gray-400">{{accountService.account.date}}</span>
        </p> 
      </div>
      <div class="flex justify-end p-4">
        <button
          class="text-white bg-blue-600 rounded-lg px-6 py-3 shadow-md hover:bg-blue-500">
          Guardar
        </button>
      </div>
    </div>
</div>-->

<div class="mb-12">
    <div class="flex flex-col bg-clip-border rounded-xl bg-[#404040] text-gray-700 shadow-md">
      <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 shadow-blue-500/40 shadow-lg -mt-4 grid h-32 w-32 place-items-center">
        <img [src]="accountService.account.accountImage" alt="">
      </div>
      <form (NgSubmit)="updateProfile()">
        <div class="p-4">
          <label for="userName" class="block antialiased font-sans text-base leading-normal font-bold text-[#64abdb]">Nombre de usuario:</label>
          <input
            id="userName"
            type="text" 
            [(ngModel)]="newUsername"
            [ngModelOptions]="{standalone: true}"
            [value]="accountService.account?.userName"  
            class="w-full px-3 py-2 rounded-md bg-[#303030] text-white">
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <label for="email" class="block antialiased font-sans text-base leading-normal font-bold text-white">Correo:</label>
          <input 
            id="email"
            type="email"
            [(ngModel)]="newEmail" 
            [ngModelOptions]="{standalone: true}"
            [value]="accountService.account?.email" 
            class="w-full px-3 py-2 rounded-md bg-[#303030] text-gray-400">
    
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-white font-bold mt-4">Cuenta creada el: 
            <span class="text-gray-400">{{accountService.account.date}}</span>
          </p> 
        </div>
        <div class="flex justify-end p-4">
          <button
            type="submit"
            class="text-white bg-blue-600 rounded-lg px-6 py-3 shadow-md hover:bg-blue-500">
            Guardar
          </button>
        </div>
      </form>
      
    </div>
  </div>
