<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{"hola"}}</mat-card-title>
    <mat-card-subtitle>Article Content</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <!-- {{mainArticleContent.articleContent}} -->
    <div markdown ngPreserveWhitespaces
       >
       ![Mi genial imagen](https://img.freepik.com/fotos-premium/hermosos-vectores-feliz-navidad-decoraciones-navidenas_1199394-219599.jpg)		
    </div>
  </mat-card-content>