<div class="main-container h-full bg-transparent">
    <main class="make-post-card p-4 rounded-lg shadow-lg bg-[404040]">
        <header class="encabezado text-xlg font-bold mb-4 text-gray-300">
            edita tu comentario
        </header>
        <br>
        <form (ngSubmit)="editPost()">
            <angular-editor
            [placeholder]="'Enter text here...'" 
            [(ngModel)]="htmlContent" 
            [ngModelOptions]="{standalone: true}" 
            [config]="editorConfig">
            </angular-editor>

            <br>
            <button 
                type="submit" 
                class="to-post relative bottom-0 right-0 bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-lg text-base px-8 py-3">
                Editar
            </button>
        </form>
    </main>
</div>
