 .main-container {
    display: flex;
    height: 100vh;
}
.encabezado {
    font-size: xx-large;
    font-weight: 500;
  }
  .make-post-card {
    flex: 1;
    background-color: #404040;
    padding: 1.5rem;
    color: rgb(97, 97, 97);
  }
  .texto_post {
    background-color: rgb(80,80,80);
  }

  ::ng-deep .angular-editor .angular-editor-content {
    background-color: #f0f0f0; /* Cambia este valor por el color que desees */
  }
  
  /* Cambiar el fondo del editor completo, incluyendo el área del toolbar */
  ::ng-deep .angular-editor {
    background-color: #ffffff; /* Cambia este valor por el color que desees */
  }

