<div class="main-container h-full bg-white">
    <main class="make-post-card border p-4 rounded-lg shadow-lg bg-white">
        <header class="encabezado text-xlg font-bold mb-4">
            Comenta, pregunta o menciona lo que se te ocurra
        </header>
        <form method="post">
            <textarea name="texto_post" id="texto_post" rows="8" class="block p-2.5 w-full text-sm bg-blue-gray-50 border-gray-300" placeholder="Escribe algo..."></textarea>
            <button class="to-post relative bottom-0 right-0 text-white bg-gradient-to-br from-gray-800 to-gray-900 font-medium rounded-lg text-base px-8 py-3">Postear</button>
        </form>
    </main>
</div>