/* .main-container {
    display: flex;
    height: 100vh;
}
.encabezado {
    font-size: xx-large;
    font-weight: 500;
  }
  .make-post-card {
    flex: 1;
    background-color: white;
    padding: 1.5rem;
  }
  .texto_post {
    background-color: cadetblue;
  } */